<div ng-controller="albumsController as view" class="container container-fluid">
    <div class="alert alert-dismissable alert-{{view.error.icon}}"
         ng-show="view.error.message"
         role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span ng-bind="view.error.message"></span>
    </div>
    <div class="page-header-text"><i class="fa fa-list"></i> תפריט </div>
    <div class="ui-field-contain">
        <label for="select-native-1">  </label>
        <select name="slider-1" id="slider-1">
            <option value="he-IL">עברית</option>
            <option value="en-US">English</option>
            <option value="ru-RU">Russian</option>
        </select>
    </div>
    <hr style="margin-top: 6px;" />

    <div class="album">
        <div>
            <a style="text-align: right;font-size: 1.6em" id="lnkandr" href="http://delek-hks.co.il/andr" onclick="lnkandr_Click();" data-rel="dialog" data-ajax="false"><i class='fa fa-align-left'></i> דווח אספקת דלקים</a>
        </div>
    </div>
    <br />
    <div class="album">
        <div>
            <a style="text-align: right;font-size: 1.6em" id="lnkandrCounter" href="http://delek-hks.co.il/andrCounter" onclick="lnkandrCounter_Click();" data-rel="dialog" data-ajax="false"><i class='fa fa-align-left'></i> דווח מונים</a>
        </div>
    </div>
    <br />
    <div class="album">
        <div>
            <a style="text-align: right;font-size: 1.6em" id="lnkandrManualReport" href="http://delek-hks.co.il/andrManualReport" onclick="lnkandrManualReport_Click();" data-ajax="false"><i class='fa fa-align-left'></i> דווח תדלוקים ידניים</a>
        </div>
    </div>
    <br />
    <div class="album">
        <div>
            <a style="text-align: right;font-size: 1.6em" id="lnkandrandrTechnic" href="http://delek-hks.co.il/andrTechnic" data-rel="dialog" onclick="lnkandrTechnic_Click();" data-ajax=" false"><i class='fa fa-align-left'></i> דווח קריאות שירות</a>
        </div>
    </div>
    <br />


    <!-- use a custom $scope filter to search only artist and album name instead of filter: view.searchText -->
    <!--<div class="album" ng-repeat="album in view.albums | filter: view.albumsFilter:view.searchText">
        <div class="album-overlay">
            <a href="#/album/edit/{{album.Id}}"><i class="fa fa-edit" title="Edit"></i></a> &nbsp;
            <a ng-click="view.deleteAlbum(album)"><i class="fa fa-remove" title="Delete"></i></a>
        </div>
        <div ng-click="view.albumClick(album)" ng-touch="view.albumClick(album)">
            <img ng-src="{{album.ImageUrl}}" class="album-image" />
            <div style="padding-left: 80px;">
                <div class="album-title">{{album.Title}}</div>
                <div class="album-artist">by {{album.Artist.ArtistName}} {{(album.Year ? 'in ' + album.Year : '')}}</div>
                <div class="album-descript">{{album.Description}}</div>
            </div>
        </div>
    </div>-->
</div>
<script src="../../scripts/jquery.js"></script>
<script>
    $(document).on('pageinit', '.ui-page', function (event) {
        setTimeout(function () {
            $('#slider-1').popup('open');
            slider_value = $("#slider-1").val();
            switch (slider_value) {
                case "he-IL":
                    $("#lnkandr").text("דווח אספקת דלקים");
                    $("#lnkandrCounter").text("דווח מונים");
                    $("#lnkandrManualReport").text("דווח תדלוקים ידניים");
                    $("#lnkandrandrTechnic").text("דווח קריאות שירות");

                    break;
                case "ru-RU":
                    $("#lnkandr").text("Отчет доставки топлива");
                    $("#lnkandrCounter").text("Отчет доставки топлива");
                    $("#lnkandrManualReport").text("Отчет доставки топлива");
                    $("#lnkandrandrTechnic").text("דווח קריאות שירות");
                    break;
                case "en-US":
                    $("#lnkandr").text("Report Fuel Supplier");
                    $("#lnkandrCounter").text("Report Counter");
                    $("#lnkandrManualReport").text("Report Manual Fuel");
                    $("#lnkandrandrTechnic").text("Report Calling Service");
                    break;
            }

        }, 0);
    })
    var slider_value = "";
    var hreflnkandr = $('#lnkandr').attr('href');
    var hreflnkandrCounter = $('#lnkandrCounter').attr('href');
    var hreflnkandrManualReport = $('#lnkandrManualReport').attr('href');
    var hreflnkandrandrTechnic = $('#lnkandrandrTechnic').attr('href');
    $("#slider-1").on('change', function (event) {
        slider_value = $("#slider-1").val();
        switch (slider_value) {
            case "he-IL":
                $("#lnkandr").text("דווח אספקת דלקים");
                $("#lnkandrCounter").text("דווח מונים");
                $("#lnkandrManualReport").text("דווח תדלוקים ידניים");
                $("#lnkandrandrTechnic").text("דווח קריאות שירות");
                break;
            case "ru-RU":
                $("#lnkandr").text("Отчет доставки топлива");
                $("#lnkandrCounter").text("Отчет доставки топлива");
                $("#lnkandrManualReport").text("Отчет доставки топлива");
                $("#lnkandrandrTechnic").text("דווח קריאות שירות");
                break;
            case "en-US":
                $("#lnkandr").text("Report Fuel Supplier");
                $("#lnkandrCounter").text("Report Counter");
                $("#lnkandrManualReport").text("Report Manual Fuel");
                $("#lnkandrandrTechnic").text("Report Calling Service");
                break;
        }
        slider_value = $("#slider-1").val();
        document.getElementById("lnkandr").setAttribute("href", hreflnkandr + "?lang=" + slider_value);
        document.getElementById("lnkandrCounter").setAttribute("href", hreflnkandrCounter + "?lang=" + slider_value);
        document.getElementById("lnkandrManualReport").setAttribute("href", hreflnkandrManualReport + "?lang=" + slider_value);
        document.getElementById("lnkandrandrTechnic").setAttribute("href", hreflnkandrandrTechnic + "?lang=" + slider_value);
        //$("#slider-1").slider('refresh');
    });
    function lnkandr_Click() {
        var hreflnkandr = $('#lnkandr').attr('href');
        slider_value = $("#slider-1").val();
        document.getElementById("lnkandr").setAttribute("href", hreflnkandr + "?lang=" + slider_value);
    }
    function lnkandrCounter_Click() {
        var hreflnkandrCounter = $('#lnkandrCounter').attr('href');
        slider_value = $("#slider-1").val();
        document.getElementById("lnkandrCounter").setAttribute("href", hreflnkandrCounter + "?lang=" + slider_value);
    }
    function lnkandrManualReport_Click() {
        var hreflnkandrManualReport = $('#lnkandrManualReport').attr('href');
        slider_value = $("#slider-1").val();
        document.getElementById("lnkandrManualReport").setAttribute("href", hreflnkandrManualReport + "?lang=" + slider_value);
    }
    function lnkandrTechnic_Click() {
        var hreflnkandrManualReport = $('#lnkandrManualReport').attr('href');
        slider_value = $("#slider-1").val();
        document.getElementById("lnkandrManualReport").setAttribute("href", hreflnkandrManualReport + "?lang=" + slider_value);
    }
</script>